{% extends 'base.html' %}
{% load static%}
{%  block content %} 
            <!-- شروع هدر صفحه -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>درباره ما</h2>
                        </div>
                        <div class="col-12">
                            <a href="">صفحه اصلی</a>
                            <a href="">درباره ما</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- پایان هدر صفحه -->


            <!-- شروع بخش درباره ما -->
            <div class="about wow fadeInUp" data-wow-delay="0.1s">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- تصویر درباره ما -->
                        <div class="col-lg-5 col-md-6">
                            <div class="about-img">
                                <img src="{% static '' %}img/about.jpg" alt="تصویر">
                            </div>
                        </div>
                        
                        <!-- متن درباره ما -->
                        <div class="col-lg-7 col-md-6">
                            <div class="section-header text-right">
                                <p>به بیلدرز خوش آمدید</p>
                                <h2>۲۵ سال تجربه</h2>
                            </div>
                            <div class="about-text">
                                <p>
                                    ما با بیش از ۲۵ سال تجربه در صنعت ساخت و ساز، پروژه‌های متعددی را با بالاترین کیفیت اجرا کرده‌ایم. تیم متخصص ما آماده ارائه خدمات حرفه‌ای است.
                                </p>
                                <p>
                                    هدف ما ایجاد فضاهای باکیفیت و ایمن برای مشتریان عزیز است. ما با استفاده از تکنولوژی‌های روز دنیا و متریال‌های استاندارد، بهترین تجربه را برای شما رقم می‌زنیم.
                                </p>
                                <a class="btn" href="">بیشتر بدانید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- پایان بخش درباره ما -->
            
            
            <!-- شروع بخش آمار و ارقام -->
            <div class="fact">
                <div class="container-fluid">
                    <div class="row counters">
                        <!-- بخش چپ: نمایش دو آمار -->
                        <div class="col-md-6 fact-left wow slideInLeft">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-worker"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">۱۰۹</h2>
                                        <p>نیروی کار متخصص</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-building"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">۴۸۵</h2>
                                        <p>مشتریان راضی</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- بخش راست: نمایش دو آمار دیگر -->
                        <div class="col-md-6 fact-right wow slideInRight">
                            <div class="row">
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-address"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">۷۸۹</h2>
                                        <p>پروژه‌های تکمیل‌شده</p>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="fact-icon">
                                        <i class="flaticon-crane"></i>
                                    </div>
                                    <div class="fact-text">
                                        <h2 data-toggle="counter-up">۸۹۰</h2>
                                        <p>پروژه‌های در حال اجرا</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- پایان بخش آمار و ارقام -->
            
            <!-- شروع بخش سوالات متداول -->
            <div class="faqs">
                <div class="container">
                    <div class="section-header text-center">
                        <p>سوالات متداول</p>
                        <h2>سوالات شما</h2>
                    </div>
                    <div class="row">
                        <!-- ستون اول سوالات -->
                        <div class="col-md-6">
                            <div id="accordion-1">
                                <div class="card wow fadeInLeft" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseOne">
                                            چگونه می‌توانم سفارش دهم؟
                                        </a>
                                    </div>
                                    <div id="collapseOne" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            برای ثبت سفارش، وارد سایت شوید، محصول مورد نظر را انتخاب کنید و مراحل خرید را تکمیل کنید.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseTwo">
                                            روش‌های پرداخت چیست؟
                                        </a>
                                    </div>
                                    <div id="collapseTwo" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            پرداخت از طریق کارت‌های بانکی، کیف پول الکترونیکی و پرداخت در محل امکان‌پذیر است.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInLeft" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseThree">
                                            مدت زمان ارسال سفارش چقدر است؟
                                        </a>
                                    </div>
                                    <div id="collapseThree" class="collapse" data-parent="#accordion-1">
                                        <div class="card-body">
                                            بسته به نوع محصول و محل شما، ارسال معمولاً بین ۳ تا ۷ روز کاری زمان می‌برد.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- ستون دوم سوالات -->
                        <div class="col-md-6">
                            <div id="accordion-2">
                                <div class="card wow fadeInRight" data-wow-delay="0.1s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSix">
                                            آیا امکان بازگشت کالا وجود دارد؟
                                        </a>
                                    </div>
                                    <div id="collapseSix" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            بله، در صورت وجود مشکل در محصول، تا ۷ روز می‌توانید آن را بازگردانید.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.2s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseSeven">
                                            چگونه می‌توانم با پشتیبانی تماس بگیرم؟
                                        </a>
                                    </div>
                                    <div id="collapseSeven" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            شما می‌توانید از طریق تماس تلفنی، ایمیل یا چت آنلاین با ما در ارتباط باشید.
                                        </div>
                                    </div>
                                </div>
                                <div class="card wow fadeInRight" data-wow-delay="0.3s">
                                    <div class="card-header">
                                        <a class="card-link collapsed" data-toggle="collapse" href="#collapseEight">
                                            آیا محصولات دارای گارانتی هستند؟
                                        </a>
                                    </div>
                                    <div id="collapseEight" class="collapse" data-parent="#accordion-2">
                                        <div class="card-body">
                                            بله، تمامی محصولات ما دارای گارانتی رسمی از شرکت‌های معتبر هستند.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- پایان بخش سوالات متداول -->
            
            <!-- FOOTER -->
{% endblock %}

