{% extends 'base.html' %}
{% load static%}
{%  block content %} 


            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Single Page</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Single Page</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Single Post Start-->
            <div class="single">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="single-content wow fadeInUp">
                                <img src="{% static '' %}img/single.jpg" />

<h1>فرز CNC چیست؟ </h1> 
<p>
    فرز CNC یکی از پیشرفتهترین فرآیندهای ماشینکاری است که با استفاده از دستورات کامپیوتری دقیق، ابزارهای برش را کنترل میکند. این روش با حرکت و چرخش ابزارهای برش بر روی سطح قطعه، مواد اضافی را بهدقت حذف میکند تا قطعه به شکل و ابعاد دلخواه برسد.

</p>       
<h2> HPN بیش از 30 سال تجربه در خدمات فرز CNC</h2>
<p> 
در HPN، ما تنها به ساخت قطعات فکر نمیکنیم؛ بلکه تخصص، انگیزه و علاقه را در تمام مراحل کار بهکار میگیریم. حتی خدماتی که ممکن است زمانبر باشند یا دستمزد کمتری داشته باشند، با تعهد و دقت بالا انجام میشوند.
</p>
<p>آنچه ما را متمایز میکند، ترکیب تجربه، خلاقیت و تفکر مهندسی در ارائهی خدمات فرز CNC است. ما به جزئیات اهمیت میدهیم و هر پروژه را با نهایت دقت و کیفیت انجام میدهیم.</p>

<h3>سفارش خدمات فرز CNC</h3>
<p>برای ثبت سفارش خدمات فرز CNC، فرم زیر را تکمیل کرده و ارسال کنید. کارشناسان ما در اسرع وقت با شما تماس خواهند گرفت و آماده ارائهی مشاوره تخصصی هستند.</p>

<h3>خدمات فرز CNC چیست؟</h3>
<p>فرز CNC (Computer Numerical Control) یک فرآیند پیشرفته ماشینکاری است که در آن نرمافزارهای کامپیوتری بهصورت دقیق حرکت ابزارها و ماشینآلات را کنترل میکنند. این فناوری امکان برش و شکلدهی انواع متریال را با دقت بالا و سرعت فوقالعاده فراهم میکند و به تولید قطعات پیچیده در اندازههای متنوع کمک مینماید.
    <br>   خدمات فرز CNC در مقایسه با روشهای سنتی، دارای مزایای زیر است:
    <br>   دقت و ظرافت بالا در برش و پردازش
    <br>   کاهش مداخله انسانی و افزایش بهرهوری
    <br>   امکان تولید انبوه و سفارشیسازی قطعات
    <br>   پردازش قطعات پیچیده با طراحیهای دقیق</p>
<h3>
    کاربردهای خدمات فرز CNC
</h3>
<p> فناوری فرز CNC به دلیل دقت بالا و انعطافپذیری، در صنایع مختلفی به کار گرفته میشود. برخی از مهمترین کاربردهای این فناوری شامل موارد زیر است:
<br>
صنایع هوایی و هوافضا: تولید قطعات پیچیده و حساس با دقت بسیار بالا
<br>
صنایع خودروسازی: ساخت قطعات موتور، گیربکس و سایر بخشهای مکانیکی
<br>
صنایع پزشکی: تولید ابزارها و تجهیزات پزشکی با ظرافت بالا
<br>
ماشینآلات صنعتی: طراحی و ساخت قطعات سفارشی برای دستگاههای صنعتی
<br>
صنایع نظامی: ساخت تجهیزات دقیق و مقاوم
</p>
<h3>چرا خدمات فرز CNC شرکت HPN؟</h3>
<p>
    در HPN ما با بهرهگیری از جدیدترین دستگاههای فرز CNC و تیمی از متخصصان با تجربه، خدمات زیر را ارائه میدهیم:
برش و تراش دقیق قطعات از انواع متریال (فلزی و غیرفلزی)
ساخت قطعات پیچیده و سفارشی مطابق با نیاز مشتری
تولید انبوه با کیفیت یکسان و بدون خطا
ارائه مشاوره تخصصی برای طراحی و تولید

</p>
</div>

                            <!-- برچسب‌های مقاله -->
                            <div class="single-tags wow fadeInUp">
                                <a href="">ملی</a>
                                <a href="">بین‌المللی</a>
                                <a href="">اقتصاد</a>
                                <a href="">سیاست</a>
                                <a href="">سبک زندگی</a>
                                <a href="">تکنولوژی</a>
                                <a href="">تجارت</a>
                            </div>
                            <div class="single-bio wow fadeInUp">
                                <div class="single-bio-img">
                                    <img src="{% static '' %}img/user.jpg" />
                                </div>
                                <div class="single-bio-text">
                                    <h3>نام نویسنده</h3>
                                    <p>
                                        لورم ایپسوم متن ساختگی برای نمایش است. عدد صحیح لورم آگوئه، دارای استایل ساده و بدون تغییر است. 
                                        انجام امور بدون هیچ مانعی و با ثبات کامل انجام می‌شود. در این صفحه همه چیز تنظیم شده است.
                                    </p>
                                    
                                </div>
                            </div>
                            <div class="single-related wow fadeInUp">
                                <h2>Related Post</h2>
                                <div class="owl-carousel related-slider">
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="{% static '' %}img/post-1.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="">عنوان مطلب مرتبط با طراحی</a>
                                            <div class="post-meta">
                                                <p>نویسنده: <a href="">مدیر</a></p>
                                                <p>دسته‌بندی: <a href="">طراحی</a></p>
                                            </div>
                                            
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="{% static '' %}img/post-2.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="">عنوان مطلب مرتبط با طراحی</a>
                                            <div class="post-meta">
                                                <p>نویسنده: <a href="">مدیر</a></p>
                                                <p>دسته‌بندی: <a href="">طراحی</a></p>
                                            </div>
                                          </div>
                                    
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="{% static '' %}img/post-3.jpg" />
                                        </div>
                                        <div class="post-text">
                                         <a href="">عنوان مطلب مرتبط با طراحی</a>
    <div class="post-meta">
        <p>نویسنده: <a href="">مدیر</a></p>
        <p>دسته‌بندی: <a href="">طراحی</a></p>
    </div>
  
                                        </div>
                                    </div>
                                    <div class="post-item">
                                        <div class="post-img">
                                            <img src="{% static '' %}img/post-4.jpg" />
                                        </div>
                                        <div class="post-text">
                                            <a href="">عنوان مطلب مرتبط با طراحی</a>
                                            <div class="post-meta">
                                                <p>نویسنده: <a href="">مدیر</a></p>
                                                <p>دسته‌بندی: <a href="">طراحی</a></p>
                                            </div>
                                      
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="single-comment wow fadeInUp">
                                <h2>3 Comments</h2>
                                <ul class="comment-list">
                                    <li class="comment-item">
                                        <div class="comment-body">
                                            <div class="comment-img">
                                                <img src="{% static '' %}img/user.jpg" />
                                            </div>
                                            <div class="comment-text">
                                                <h3><a href="">جاش دان</a></h3>
                                                <p><span>۰۱ ژانویه ۲۰۴۵، ساعت ۱۲:۰۰ ظهر</span></p>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. عدد صحیح لورم آگوئه، دارای استایل خالص و بدون تغییر، 
                                                    نه تیره و نه روشن است. انجام امور بدون هیچ مانعی و با ثبات کامل. در این صفحه همه چیز تنظیم شده است.
                                                </p>
                                                <a class="btn" href="">پاسخ</a>
                                                </div>
                                        </div>
                                    </li>
                                    <li class="comment-item">
                                        <div class="comment-body">
                                            <div class="comment-img">
                                                <img src="{% static '' %}img/user.jpg" />
                                            </div>
                                            <div class="comment-text">
                                                <h3><a href="">جاش دان</a></h3>
                                                <p><span>۰۱ ژانویه ۲۰۴۵، ساعت ۱۲:۰۰ ظهر</span></p>
                                                <p>
                                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. عدد صحیح لورم آگوئه، دارای استایل خالص و بدون تغییر، 
                                                    نه تیره و نه روشن است. انجام امور بدون هیچ مانعی و با ثبات کامل. در این صفحه همه چیز تنظیم شده است.
                                                </p>
                                                <a class="btn" href="">پاسخ</a>
                                                   <a class="btn" href="">Reply</a>
                                            </div>
                                        </div>
                                        <ul class="comment-child">
                                            <li class="comment-item">
                                                <div class="comment-body">
                                                    <div class="comment-img">
                                                        <img src="{% static '' %}img/user.jpg" />
                                                    </div>
                                                    <div class="comment-text">
                                                        <h3><a href="">جاش دان</a></h3>
                                                        <p><span>۰۱ ژانویه ۲۰۴۵، ساعت ۱۲:۰۰ ظهر</span></p>
                                                        <p>
                                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. عدد صحیح لورم آگوئه، دارای استایل خالص و بدون تغییر، 
                                                            نه تیره و نه روشن است. انجام امور بدون هیچ مانعی و با ثبات کامل. در این صفحه همه چیز تنظیم شده است.
                                                        </p>
                                                        <a class="btn" href="">پاسخ</a>
                                                        </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                           
                            <div class="comment-form wow fadeInUp">
                                <h2>Leave a comment</h2>
                                <form>
                                    <div class="form-group">
                                        <label for="name">Name *</label>
                                        <input type="text" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email *</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="website">Website</label>
                                        <input type="url" class="form-control" id="website">
                                    </div>

                                    <div class="form-group">
                                        <label for="message">Message *</label>
                                        <textarea id="message" cols="30" rows="5" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Post Comment" class="btn">
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="sidebar">
                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="search-widget">
                                        <form>
                                            <input class="form-control" type="text" placeholder="Search Keyword">
                                            <button class="btn"><i class="fa fa-search"></i></button>
                                        </form>
                                    </div>
                                </div>

                                <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">Recent Post</h2>
                                    <div class="recent-post">
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="{% static '' %}img/post-1.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                <div class="post-meta">
                                                    <p>نویسنده: <a href="">مدیر</a></p>
                                                    <p>دسته‌بندی: <a href="">طراحی</a></p>
                                               </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="{% static '' %}img/post-2.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                <div class="post-meta">
                                                    <p>نویسنده: <a href="">مدیر</a></p>
                                                    <p>دسته‌بندی: <a href="">طراحی</a></p>
                                               </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="{% static '' %}img/post-3.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                <div class="post-meta">
                                                    <p>نویسنده: <a href="">مدیر</a></p>
                                                    <p>دسته‌بندی: <a href="">طراحی</a></p>
                                               </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="{% static '' %}img/post-4.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                            </div>
                                        </div>
                                        <div class="post-item">
                                            <div class="post-img">
                                                <img src="{% static '' %}img/post-5.jpg" />
                                            </div>
                                            <div class="post-text">
                                                <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                <div class="post-meta">
                                                    <p>نویسنده: <a href="">مدیر</a></p>
                                                    <p>دسته‌بندی: <a href="">طراحی</a></p>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="image-widget">
                                        <a href="#"><img src="{% static '' %}img/blog-1.jpg" alt="Image"></a>
                                    </div>
                                </div>

                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="tab-post">
                                        <ul class="nav nav-pills nav-justified">
                                            <li class="nav-item">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-toggle="pill" href="#featured">ویژه</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="pill" href="#popular">محبوب‌ترین</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-toggle="pill" href="#latest">جدیدترین</a>
                                                </li>
                                                 </li>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="featured" class="container tab-pane active">
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-1.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-2.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-3.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-4.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-5.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="popular" class="container tab-pane fade">
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-1.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-2.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-3.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-4.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-5.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="latest" class="container tab-pane fade">
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-1.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-2.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-3.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                  
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-4.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="post-item">
                                                    <div class="post-img">
                                                        <img src="{% static '' %}img/post-5.jpg" />
                                                    </div>
                                                    <div class="post-text">
                                                        <a href="">عنوان مطلب مرتبط با طراحی</a>
                                                        <div class="post-meta">
                                                            <p>نویسنده: <a href="">مدیر</a></p>
                                                            <p>دسته‌بندی: <a href="">طراحی</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="image-widget">
                                        <a href="#"><img src="{% static '' %}img/blog-2.jpg" alt="Image"></a>
                                    </div>
                                </div>
                                <!-- شروع بخش دسته‌بندی‌ها -->
                                <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">دسته‌بندی‌ها</h2>
                                    <div class="category-widget">
                                        <ul>
                                            <li><a href="">ملی</a><span>(98)</span></li>
                                            <li><a href="">بین‌المللی</a><span>(87)</span></li>
                                            <li><a href="">اقتصاد</a><span>(76)</span></li>
                                            <li><a href="">سیاست</a><span>(65)</span></li>
                                            <li><a href="">سبک زندگی</a><span>(54)</span></li>
                                            <li><a href="">تکنولوژی</a><span>(43)</span></li>
                                            <li><a href="">تجارت</a><span>(32)</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- پایان بخش دسته‌بندی‌ها -->

                                <div class="sidebar-widget wow fadeInUp">
                                    <div class="image-widget">
                                        <a href="#"><img src="{% static '' %}img/blog-3.jpg" alt="Image"></a>
                                    </div>
                                </div>
                                <!-- شروع بخش ابر برچسب‌ها -->
                                <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">ابر برچسب‌ها</h2>
                                    <div class="tag-widget">
                                        <a href="">ملی</a>
                                        <a href="">بین‌المللی</a>
                                        <a href="">اقتصاد</a>
                                        <a href="">سیاست</a>
                                        <a href="">سبک زندگی</a>
                                        <a href="">تکنولوژی</a>
                                        <a href="">تجارت</a>
                                    </div>
                                </div>
                                <!-- پایان بخش ابر برچسب‌ها -->

                                <div class="sidebar-widget wow fadeInUp">
                                    <h2 class="widget-title">Text Widget</h2>
                                    <div class="text-widget">
                                        <p>
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم. عدد صحیح لورم آگوئه، دارای استایل خالص و بدون تغییر، 
                                            نه تیره و نه روشن است. انجام امور بدون هیچ مانعی و با ثبات کامل. در این صفحه همه چیز تنظیم شده است. 
                                            اکنون بدون هیچ مشکلی می‌توانید از این قسمت استفاده کنید.
                                        </p>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single Post End-->   

<!-- FOOTER -->
{% endblock %}

