{% load static %}

<!-- شروع بخش خدمات -->
<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>خدمات ما</p>
            <h2>ما این خدمات صنعتی را ارائه می‌دهیم</h2>
        </div>
        <div class="row">
            <!-- وایرکات -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-1.jpg' %}" alt="وایرکات">
                        <div class="service-overlay">
                            <p>برش با دقت میکرونی، مناسب برای قالب‌سازی و قطعات پیچیده</p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>وایرکات (Wire Cut)</h3>
                        <a class="btn" href="{% static 'img/service-1.jpg' %}" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>

            <!-- فرز CNC -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-1.jpg' %}" alt="فرز CNC">
                        <div class="service-overlay">
                            <p> ساخت قطعات صنعتی پیچیده، قالب‌های سنبه و ماتریس و فرامین کنترلی</p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>فرز CNC</h3>
                        <a class="btn" href="{% static 'img/service-1.jpg' %}" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>

            <!-- لیزرکات -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-2.jpg' %}" alt="لیزرکات">
                        <div class="service-overlay">
                            <p> برش انواع ورق‌های فلزی با دقت بالا و سرعت عالی  
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>لیزرکات</h3>
                        <a class="btn" href="{% static 'img/service-2.jpg' %}" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>

            <!-- تراشکاری دقیق -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-3.jpg' %}" alt="تراشکاری دقیق">
                        <div class="service-overlay">
                            <p> ساخت انواع قالب‌های پلاستیک، فلزی و دایکست 
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>تراشکاری دقیق</h3>
                        <a class="btn" href="{% static 'img/service-3.jpg' %}" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>



            <!-- خمکاری CNC -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-2.jpg' %}" alt="خمکاری CNC">
                        <div class="service-overlay">
                            <p>برش دقیق قطعات سخت‌کاری‌شده، تنگستن کارباید و قطعات حساس با تلرانس‌های میکرونی</p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>خمکاری CNC</h3>
                        <a class="btn" href="{% static 'img/service-2.jpg' %}" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>

            <!-- جوشکاری صنعتی -->
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{% static 'img/service-1.jpg' %}" alt="جوشکاری صنعتی">
                        <div class="service-overlay">
                            <p>ارائه خدمات جوشکاری تخصصی برای قطعات صنعتی و فلزی</p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>جوشکاری صنعتی</h3>
                        <a class="btn" href="{% static 'img/service-1.jpg' %}" data-lightbox="service">+</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- پایان بخش خدمات -->