{% load static %}


            <!-- شروع بخش تیم ما -->
            <div class="team">
                <div class="container">
                    <div class="section-header text-center">
                        <p>تیم ما</p>
                        <h2>با مهندسان ما آشنا شوید</h2>
                    </div>
                    <div class="row">
                        <!-- عضو اول تیم -->
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static '' %}img/team-1.jpg" alt="تصویر تیم">
                                </div>
                                <div class="team-text">
                                    <h2>آدام فیلیپس</h2>
                                    <p>مدیرعامل و بنیان‌گذار</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- عضو دوم تیم -->
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static '' %}img/team-2.jpg" alt="تصویر تیم">
                                </div>
                                <div class="team-text">
                                    <h2>دیلن آدامز</h2>
                                    <p>مهندس عمران</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- عضو سوم تیم -->
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static '' %}img/team-3.jpg" alt="تصویر تیم">
                                </div>
                                <div class="team-text">
                                    <h2>جان دو</h2>
                                    <p>طراح داخلی</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>

                        <!-- عضو چهارم تیم -->
                        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="team-item">
                                <div class="team-img">
                                    <img src="{% static '' %}img/team-4.jpg" alt="تصویر تیم">
                                </div>
                                <div class="team-text">
                                    <h2>جاش دان</h2>
                                    <p>نقاش</p>
                                </div>
                                <div class="team-social">
                                    <a class="social-tw" href=""><i class="fab fa-twitter"></i></a>
                                    <a class="social-fb" href=""><i class="fab fa-facebook-f"></i></a>
                                    <a class="social-li" href=""><i class="fab fa-linkedin-in"></i></a>
                                    <a class="social-in" href=""><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- پایان بخش تیم ما -->
